ใน tutorial นี้จะมี
- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column (Schema)
- Selecting Columns and Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping Columns
- Renaming Columns

# Start Spark session

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

# Reading The Dataset

In [10]:
df_pyspark=spark.read.csv('dataset/test1.csv', header=True, inferSchema=True)

# Checking the Datatypes of the Column (Schema)

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

# Selecting Columns and Indexing

In [15]:
df_pyspark.columns # ดู column ทั้งหมด

['Name', 'age', 'Experience']

In [16]:
df_pyspark.head(3) # แสดงข้อมูล 3 แถวจากด้านบน

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhansh', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [17]:
df_pyspark.select('Name').show() # แสดงข้อมูลเฉพาะ column ชื่อ Name

+--------+
|    Name|
+--------+
|   Krish|
|Sudhansh|
|   Sunny|
+--------+

In [18]:
df_pyspark.select('Name', 'Experience').show() # แสดงข้อมูล column Name และ Experience

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|        10|
|Sudhansh|         8|
|   Sunny|         4|
+--------+----------+

In [20]:
df_pyspark.dtypes # เช็ค type ในแต่ละ columnn

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

# Check Describe option similar to Pandas

In [23]:
df_pyspark.describe().show() # min ใน column Name คือข้อมูลแถวแรก max คือแถวสุดท้าบ

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

# Adding Columns in Dataframe

In [27]:
# เพิ่ม column Experience After 2 year โดยนำ column Experience ไป + 2
df_pyspark=df_pyspark.withColumn('Experience After 2 year', df_pyspark['Experience']+2)

In [28]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|   Krish| 31|        10|                     12|
|Sudhansh| 30|         8|                     10|
|   Sunny| 29|         4|                      6|
+--------+---+----------+-----------------------+

# Dropping Columns

In [29]:
# ลบ column Experience After 2 year 
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [30]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

# Renaming Columns

In [33]:
# เปลี่ยนชิ้อ column Name เป็น New Name
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+