# Start Spark session

In [1]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

# Read the Dataset

In [6]:
df_pyspark=spark.read.csv('dataset/test5.csv', header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

# GroupBy

In [17]:
# หาว่าแต่ละคนได้เงินเดือนรวมเท่าไหร
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [18]:
# หาว่าแต่ละคนได้เงินเดือนที่แต่ละแผนกจ่ายมากสุดท่าไหร
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [19]:
# หาว่าแต่ละคนได้เงินเดือนที่แต่ละแผนกจ่ายน้อยสุดท่าไหร
df_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [14]:
# หาว่าแผนกที่ให้เงินเดือนรวมเท่าไหร
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [13]:
# หาว่าแผนกที่ให้เงินเดือนเฉลี่ยทุกคนเท่าไหร
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [15]:
# หาว่าแผนกให้เงินเดือนคนทำงานกี่คน
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [16]:
# หาว่าทุกคนได้เงินเดือนรวมทั้งหมดเท่าไหร
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+